select {
    padding: 8px;
  }
  /* Trong file CSS của trang chủ hoặc tạo một file riêng cho layout */
.filter-container {
    display: flex;
    margin-top: 20px;
  }
  
  .filter-container label {
    margin-right: 10px;
  }
  
  .filter-select {
    padding: 8px;
    margin-right: 50px;
  }
  
  /* Tùy chỉnh kiểu hiển thị cho sản phẩm và container */
  .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
  }
  
  .product-card {
    width: 250px;
    margin: 10px;
    transition: transform 0.3s ease-in-out;
  }

  .product-card:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  
  .product-image img {
    width: 100%;
    height: auto;
  }
  