.table-header {
  font-size: 20px;
  font-family: Lato;
  /* Add any other desired styles */
}

.table-cell {
  font-size: 18px;
  font-family: Lato;
  /* Add any other desired styles */
}


.status-dropdown .ant-select-item {
  padding: 8px 12px;
}
