.card_success {
  /*width: 600px;*/
  /*height: 400px;*/
  /*padding: 10px;*/
  /*background-color: #ffffff;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left_success {
  width: 230px;
  height: 670px;
}

.right_success {
  padding-left: 220px;
  padding-top: 120px;
  width: 20%;
  height: wrap-content;
}

.middle_success {
  display: flex;
  justify-content: center;
  text-align: center;
}

.return_success {
  background-color: #B9E4D5;
  width: 500px;
  height: 50px;
  font-weight: bold;
}
